/*
 * A userChrome that uses the current gtk window decorations, no matter what theme is being used.
 *
 * Normally, the gtk decorations are only used in the default gtk theme.
 */
$gtk-assets: "./gtk-3.0/assets";

$buttons: (
  min: minimize,
  max: maximize,
  restore: maximized,
  close: close,
);

$variants: (normal hover active);

.titlebar-buttonbox:-moz-lwtheme {
  gap: 8px;
  margin-left: 2px;
}

.titlebar-button:-moz-lwtheme > .toolbarbutton-icon {
  padding: 0 8px !important;
}

toolbarbutton:-moz-lwtheme:hover {
  background-color: rgba(0, 0, 0, 0%) !important;
}

@mixin window-control($file, $variant) {
  list-style-image: url(#{$gtk-assets}/#{$file}-#{$variant}.svg);
}

@mixin gtk-control($file, $variant, $backdrop: false) {
  $pseudo: null;
  @if $backdrop {
    @if $variant == normal {
      $pseudo: ":-moz-window-inactive";
    } @else {
      $pseudo: ":#{$variant}:-moz-window-inactive";
    }
    $variant: "backdrop-#{$variant}";
  } @else if $variant != normal {
    $pseudo: ":#{$variant}";
  } @else {
    $pseudo: "";
  }

  &#{$pseudo} {
    list-style-image: url("#{$gtk-assets}/#{$file}-#{$variant}.svg") !important;
  }
}

@each $cls, $file in $buttons {
  toolbarbutton.titlebar-#{$cls}:-moz-lwtheme {
    @each $variant in $variants {
      @include gtk-control($file, $variant);
      @include gtk-control($file, $variant, $backdrop: true);
    }
  }
}
